<h1><%= @tasks.title %></h1>
<h2><%= @tasks.details %></h2>

 <% if @tasks.completed %>
    This task is completed
  <% else %>
    This task is not completed yet
  <% end %>

<hr>

<%= link_to "Delete",
  task_path(@tasks),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%= link_to "Go back to all tasks", tasks_path %>
